span {
    color: #fff;
    font-size: 16px;
    font-family: 'Inconsolata', monospace;
}


.bg {
    display: block;
    position: absolute;
}

.bg.first {
    background: orange;
    left: 16x;
    top: 16px;
}

.bg.second {
    background: purple;
    left: 16x;
    top: 116px;
}

.bg.third {
    background: grey;
    left: 16x;
    top: 216px;
}

.wrapper.first {
    position: absolute;
    left: 16x;
    top: 16px;
    display: flex;
    width: 300px;
    flex-wrap: auto;
    background: transparent;
    text-align: center;
    padding: 16px;
}

.wrapper.second {
    position: absolute;
    left: 16x;
    top: 116px;
    display: flex;
    width: 300px;
    flex-wrap: auto;
    background: transparent;
    text-align: center;
    padding: 16px;
}

.wrapper.third {
    position: absolute;
    left: 16x;
    top: 216px;
    display: flex;
    width: 300px;
    flex-wrap: auto;
    background: transparent;
    text-align: center;
    padding: 16px;
}

img {
    z-index: -1;
}

