<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Summary of orders</title>
</head>
<body>
<h1>Summary</h1>
<form th:action="@{/warehouse/summary}" th:object="${textile}" method="get">
    <table>
        <tr>
            <th>Item name</th>
            <th>Manufacturer</th>
            <th>Category</th>
            <th>Size</th>
            <th>Amount</th>
            <th>Sub-total price</th>
        </tr>
        <tr th:each="item : ${orders}">
            <td th:text="${item.itemName}"></td>
            <td th:text="${item.manufacturer}"></td>
            <td th:text="${item.category}"></td>
            <td th:text="${item.size}"></td>
            <td th:text="${quantity}"></td>
            <td th:text="${subTotal}"></td>
        </tr>
    </table>
</form>
<a th:href="@{/warehouse}">Back to the main page</a>
</body>
</html>