<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register new user</title>
</head>
<body>
    <h1>Register</h1>
    <form action="#" th:action="@{/register}" th:object="${client}" method="post">
        <input id="id" type="hidden" name="id" th:field="*{id}"/>
        <label for="name"></label>
        <input id="name" type="text" name="name" th:field="*{name}"/>
        <label for="email"></label>
        <input id="email" type="text" name="email" th:field="*{email}"/>
        <label for="phone"></label>
        <input id="phone" type="text" name="phone" th:field="*{phoneNumber}"/>
        <input type="submit" value="Register"/>
    </form>
</body>
</html>