body {
    width: 200px;
}

#b325 {
    font-weight: bold;
    border: 1px solid green;
}

.b326 {
    font-weight: bold;
    border: 1px solid green;
    margin-bottom: 8px;
}

.big {
    color: blue;
}

p {
    background: yellow;
    margin-bottom: 8px;
}

.b329 {
    font-weight: bold;
}